div {
	border-style: solid;
	border-color: lightgray;
	border-width: 1px;
}
div.W导航 {
	width: 100%;
	padding: 10px;
}
div.W目录 {
	width: 20%;
	padding: 10px;
	max-width: 230px;
	float: left;
}
div.W内容 {
	padding: 10px;
	width: 70%;
	min-width: 450px;
	float: left;
}